.gunCont{
    padding:1rem 2rem 7rem 1rem;
    position:relative;
}
.gun{
    position: relative;
}
.gun::before{
    content:'';
    padding:4.5rem 2.3rem;
    background-color: black;
    position:absolute;
    border-radius: 1rem 0;
}

.gun::after{
    content:'';
    padding:1.5rem 7rem;
    background-color: brown;
    position:absolute;
    transform: translateX(52%);
    left: -8rem;
    border-radius: 0 1rem;
}
.triggerCont{
    border: 6px solid black;
    height: 2rem;
    width: 2rem;
    position: relative;
    top: 2.8rem;
    left: 4.2rem;
    border-radius: 1rem 0;
}
.trigger{
    position: absolute; 
    left: 0.52rem;
    top:-3.6px;
    padding:1rem 4px;
    cursor: pointer;
    background-color: red;
    transform: rotate(-45deg);
    border-radius: 40%;
    border-radius: 1rem 0;
}
.reload{
    position: absolute;
    top: 6.5rem;
    left:8rem;
    cursor:pointer;
}

.bullet{
    --x: '200';
    --y:32px;
    position:absolute;
    height: 1rem;
    width:2rem;
    background-color: red;
    border-radius: 2px 8px 8px 2px;
    left:calc((var(--x))*1px);
    top: var(--y);
}
