
.comment{
    margin-top: 1rem;
    border-left: 2px solid black; 
    position:relative;
    padding-block: 0.75rem;
    border-radius: 10px;
}
/* .comment::before{
    content:'__';
    position: absolute;
    top: -1rem;
}
.comment::after{
    content:'__'
} */
.comment-header{
    padding-left:1rem;
}
.comment-body{
    padding-left:2rem;
}
.comment-content{
    margin-left: 5px;
}
.timeline{
    color: green;
    font-style: oblique;
}
.like, .dislike{
    margin-inline-end: 5px;
}
.reply-btn{
    margin: 5px;
    cursor: pointer;
    padding-inline: 8px;
    padding-block: 4px;
    border-radius: 40%;
}
.reply-btn:hover{
    background-color: lightgray;
}
.replies{
    cursor: pointer;
    color: blue;
    margin-block: 15px;
}
.replies:hover{
    text-decoration: underline;
}
.replies-body{
    margin-left:1rem;
}
.symbol{
    cursor: pointer;
    padding-inline: 1px;
    padding-block: 4px;
    border-radius: 50%;
}
.symbol:hover{
    background-color: lightgray;
}